{% extends "base.html" %}

{% block professions %}
    {% set prof_list = ['Инженер-исследователь', 'Пилот', 'Строитель', 
    'Экзобиолог', 'Врач', 'Инженер по терраформированию', 'Климатолог', 
    'Специалист по радиационной защите', 'Астрогеолог', 'Гляциолог', 
    'Инженер жизнеобеспечения', 'Метеоролог', 'Оператор марсохода', 
    'Киберинженер', 'Штурман', 'Пилот дронов'] %}
    <h2>Список профессий</h2>
    {% if param == 'ol' or param == 'ul' %}
        {% if param == 'ol' %}
            <ol>
        {% elif param == 'ul' %}
            <ul>
        {% endif %}
        {% for prof in prof_list%}
            <li>{{ prof }}</li>
        {% endfor %}
        {% if param == 'ol' %}
            </ol>
        {% else %}
            </ul>
        {% endif %}
    {% else %}
        <h3>Передан недопустимый параметр</h3>
    {% endif %}
{% endblock %}