<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/form.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#"><h1>Миссия Колонизация Марса</h1></a>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/logout">{{ current_user.name }} {{current_user.surname}}</a>
            {% else %}
                <p>
                    <a class="btn btn-primary " href="/register">Register</a>
                    <a class="btn btn-success" href="/login">Log in</a>
                </p>
            {% endif %}
        </nav>
        <h4>И на Марсе будут яблони цвести!</h4>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block professions %}{% endblock %}
        {% block answers %}{% endblock %}
        {% block training %}{% endblock %}
        {% block rooms %}{% endblock %}
        {% block cabins %}{% endblock %}
        {% block login %}{% endblock %}
        {% block crew %}{% endblock %}
        {% block gallery %}{% endblock %}
        {% block logs %}{% endblock %}
        {% block register %}{% endblock %}
        {% block authorization %}{% endblock %}
        {% block add_jobs %}{% endblock %}
        {% block user_cities %}{% endblock %}
        {% block departments %}{% endblock %}
        {% block add_dep %}{% endblock %}
    </main>
</body>
</html>